<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845042997130-b1g63ktbkhmaijvmrceg7rbeoa0hakgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845042997130-b1g63ktbkhmaijvmrceg7rbeoa0hakgp</string>
	<key>API_KEY</key>
	<string>AIzaSyAiprZPnXQx_YTO9S18qeGyPE3JEplWSis</string>
	<key>GCM_SENDER_ID</key>
	<string>845042997130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>con.jose.SCOOT---CO</string>
	<key>PROJECT_ID</key>
	<string>scoot-co</string>
	<key>STORAGE_BUCKET</key>
	<string>scoot-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845042997130:ios:1f3665a18d531762011a73</string>
</dict>
</plist>